<div class="upload-container">
  <button mat-flat-button (click)="fileInput.click()" [disabled]="endOfTheExperience">Subir Archivos</button>
  <input
    #fileInput
    type="file"
    hidden
    (change)="onFileSelected($event)"
    [multiple]="allowMultiple"
    [accept]="acceptedTypes"
  />

  <div class="file-preview-container" *ngIf="filePreviews.length > 0">
    <h3>Vista previa de archivos</h3>
    <div class="file-previews">
      <div class="file-preview-item" *ngFor="let preview of filePreviews; let i = index" [class.uploaded]="preview.uploaded">
        <div class="preview-content"
            (click)="openFilePreview(preview)"
            (keydown.enter)="openFilePreview(preview)"
            (keyup.space)="openFilePreview(preview)"
            tabindex="0">
          <img *ngIf="preview.type === 'image'" [src]="preview.url" alt="Preview" class="preview-image">
          <div *ngIf="preview.type === 'pdf'" class="pdf-preview">
            <mat-icon>picture_as_pdf</mat-icon>
            <span>{{ preview.name }}</span>
          </div>
          <div *ngIf="preview.type === 'other'" class="other-preview">
            <mat-icon>insert_drive_file</mat-icon>
            <span>{{ preview.name }}</span>
          </div>
        </div>
        <div class="preview-info">
          <span class="file-name">{{ preview.name }}</span>
          <span class="file-size">{{ formatFileSize(preview.size) }}</span>
        </div>
        <button mat-icon-button color="warn" (click)="removeFile(i)" class="remove-button" *ngIf="!preview.uploaded">
          <mat-icon>close</mat-icon>
        </button>
        <div class="uploaded-indicator" *ngIf="preview.uploaded">
          <mat-icon>check_circle</mat-icon>
        </div>
      </div>
    </div>

    <div class="upload-actions" *ngIf="pendingFiles.length > 0">
      <button mat-raised-button color="primary" (click)="uploadFiles()" [disabled]="uploadInProgress">
        <mat-icon>{{iconUpload.icon}}</mat-icon>
        {{iconUpload.description}}
      </button>
      <button mat-button (click)="clearPendingFiles()">
        Cancelar
      </button>
    </div>

    <mat-progress-bar *ngIf="uploadInProgress" [value]="uploadProgress" class="upload-progress"></mat-progress-bar>
  </div>
</div>

